// *** at the end of the file there is a button with animation ***
@import "nullstyle.scss";

.main {
    max-width: 1440px;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}
.header {
    max-width: 1440px;
    height: 1080px;
    margin: 0 auto;
    background: url(../img/lable.png) no-repeat,url(../img/bg_header.jpeg) no-repeat;
    background-position: 50% 18%, center;
}
.header__title {
    text-align: center;
    color: #ffffff;
    position: relative;
    top: 40%;
    
}
.header__title_text1 {
    font-size: 34px;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.16em;
}
.header__title_text2 {
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.16em;
}
.header__title_line {
    padding-bottom: 20px;
}

.menu {
    height: 58px;
    background-color: #ffffff;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.05);
}

.list {
    display: flex;
    justify-content: center;
    font-family: Lato;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    padding-top: 20px;
}
.list li {
    padding-right: 50px;
}

$color-link: #3c3c3c;

.list a {
    color: $color-link;
}

$color-active-link: #c3a80e;
.list .link-home {
    color: $color-active-link;
}

.about__header {
    max-width: 720px;
    margin: 0 auto;
}

.about__title {
    text-align: center;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #000000;
    margin-top: 50px;   
}
.about__line {
    width: 81px;
    height: 1px;
    background-color: #000000;
    margin: 38px auto 0px;
}
.about__text {
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #868585;
    margin-top: 38px;
}
.about__row {
    display: flex;
    justify-content: center;
}
.about__column {
    width: 400px;
}
.item__about__icon {
    width: 100px;
    height: 100px;
    border: 2px solid #e5d2d2;
    border-radius: 50%;
    padding: 30px 0px 0px 30px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.item__about__title {
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.16em;
    color: #000000;
    margin-bottom: 30px;
}
.item__about__text {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: #868585;
    margin-bottom: 90px;
}
.portfolio {
    background-color: #f3f3f3;
    padding-top: 50px;
    padding-bottom: 60px;
}
.portfolio__title {
    text-align: center;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #000000;
    margin-top: 50px; 
}
.portfolio__line {
    width: 81px;
    height: 1px;
    background-color: #000000;
    margin: 38px auto 50px;
}
.portfolio__menu {
    margin-bottom: 135px;
}
.list .link-all {
    font-weight: 700;
    color: $color-active-link;
}
.link-web {
    color: #3c3c3c;
}
.link-apps {
    color: #3c3c3c;
}
.link-other {
    color: #3c3c3c;
}
.portfolio__items {
    display: flex;
    justify-content: center;
}
.items__left {
    margin-right: 25px;
}
.items__left_item {
    width: 538px;
    height: 365px;
    background-color: #eaeaea;
    margin-bottom: 15px;
}
.items__right_item {
    width: 538px;
    height: 365px;
    background-color: #eaeaea;
    margin-bottom: 15px;
}
.portfolio__button {
    width: 182px;
    height: 47px;
    background: url(../img/button_black.png);
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.06em;
    padding-top: 17px;
    text-align: center;
    margin: 60px 0px 0px 870px;
}
.link-button-black{
    color: #000000;
}
.partners {
    height: 390px;
    background: url(../img/bg_partners.png) 0px -690px no-repeat;
}
.partners__text {
    text-align: center;
    padding-top: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 30.4px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-bottom: 95px;
}
.partners__lables {
    display: flex;
    justify-content: center;
}
.partners__lable1 {
    width: 35px;
    height: 47px;
    padding-left: 105px;
    background: url(../img/logo_1.png) no-repeat;
}
.partners__lable2 {
    width: 52px;
    height: 62px;
    padding-left: 105px;
    background: url(../img/logo_2.png) no-repeat;
}
.partners__lable3 {
    width: 53px;
    height: 63px;
    padding-left: 105px;
    background: url(../img/logo_3.png) no-repeat;
}
.partners__lable4 {
    width: 111px;
    height: 40px;
    padding-left: 105px;
    background: url(../img/logo_4.png) no-repeat;
}
.contener__title {
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #000000;
    text-align: center;
    margin-top: 185px;
    margin-bottom: 45px;
}
.contener__line {
    width: 81px;
    height: 1px;
    background-color: #000000;
    margin: 0px auto 120px;
    
}
.contact {
    width: 1000px;
    height: 440px;
    margin-left: 19%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;   
}
.contact__form {
    margin-right: 85px;
}
.contact__form_data {
    display: flex;
    margin-bottom: 75px;
    
}
.contact__form_data1 {
    margin-right: 55px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #000000;

}
.contact__form_data2 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #000000;

}
.contact__form_name {
    width: 161px;
    height: 35px;
    background-color: #f8f7f7;
    font-size: 18px;
    padding-left: 15px;
}
.contact__form_mail {
    width: 161px;
    height: 35px;
    background-color: #f8f7f7;
    font-size: 18px;
    padding-left: 15px;
}
.contact__form_message {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #000000;
}
.contact__form_textarea {
    width: 383px;
    height: 118px;
    min-width: 383px;
    max-width: 383px;
    min-height: 118px;
    max-height: 180px;
    background-color: #f8f7f7;
    font-size: 18px;
    padding: 15px;
    
}
.contact__form_contener-button {
    margin-top: 50px;
    text-align: right;
}
.contact__form_button {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #000000;
}
.contact__contacts_text {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 40px;
}
.contact__contacts_text-name {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 25px;
}
.contakt__contacts_lable {
    display: flex;
    margin-bottom: 15px;
}
.image-fb {
    width: 29px;
    height: 29px;
    border: 2px solid #1e1e1e;
    border-radius: 50%;
    text-align: center;
    padding-top: 2%;
    margin-right: 10px;
}
.image-in {
    width: 29px;
    height: 29px;
    border: 2px solid #1e1e1e;
    border-radius: 50%;
    text-align: center;
    padding-top: 2%;
}
.contakt__contacts_email {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 25px;
}
.contakt__contacts_mail{
    font-weight: 300;
}

.footer {
    height: 274px;
    background-color: #3c3c3c;
}
.footer__lable {
    width: 122px;
    height: 78px;
    position: relative;
    top: 10%;
    left: 43%;
}
.footer__links {
    position: relative;
    top: 35%;
}
.footer__list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.footer li {
    padding-left: 20px;
}
.footer__link_home {
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #a4a4a4;
}
.footer__link_facebook {
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #a4a4a4;
}
.footer__link_linkedin {
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #a4a4a4;
}
.footer__link_contact {
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #a4a4a4;
}
.footer__text {
    text-align: center;
    font-family: 'Myriad Pro';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #6c6c6c;
}

// *** animation button ***
// \----------------------/
// .btn-wrap {
//     place-items: center;
//     font-size: 36px;
//     margin: 30px 0;
//     display: grid;
//     box-sizing: border-box;
//   }
//   .btn {
//     text-decoration: none;
//     color: #000000;
//     padding: 10px 20px;
//     position: relative;
//     transition: all 1s;
//     overflow: hidden;
//   }
  
//   .btn::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: #000000;
//     transition: all 1s;
//     z-index: -1;
//     transform: translateY(-100%);
//   }
  
//   .btn:hover::before {
//     transform: translateY(0);
//   }
//   .btn:hover {
//     color: #fff;
//   }